h1{
    text-align: center;
    text-decoration: underline;
    font-size: 300%;
    color: rgb(22, 80, 87);
    margin: 10%;
  }

.form-box{
    width: 100%;
    max-width: 450px;
    height: 50%;
    max-height: 450px;
    top: 50%;
    padding: 10px;
    left: 50%;
    border-radius: 50%;
    background: rgba(0, 255, 242,1);
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: -10px -10px 20px 2px rgb(2, 253, 211,0.5) ,10px 10px 20px 2px rgb(2, 253, 211,0.5),10px -10px 20px 2px rgb(2, 253, 211,0.5),-10px 10px 20px 2px rgb(2, 253, 211,0.5),-400px -400px 20px 2px rgb(2, 253, 211,0.5) inset,10px 10px 20px 2px rgb(2, 253, 211,0.5) inset ;
    z-index: 1;
  }
@media only screen and (max-width: 800px){
  .form-box{
    width: 90%;
    height: 60%;
    top: 50%;
    padding: 10px;
    left: 50%;
    border-radius: 50%;
    background: rgba(0, 255, 242, 1);
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: -10px -10px 20px 2px rgb(2, 253, 211,0.5) ,10px 10px 20px 2px rgb(2, 253, 211,0.5),10px -10px 20px 2px rgb(2, 253, 211,0.5),-10px 10px 20px 2px rgb(2, 253, 211,0.5),-400px -400px 20px 2px rgb(2, 253, 211,0.5) inset,10px 10px 20px 2px rgb(2, 253, 211,0.5) inset ;
    z-index: 1;
  }
  /* input{
    width: 80%;
    font-size: 110%;
    border: none;
    outline: none;  
    background: transparent;
    color: grey;
    } */
}
input{
  width: 90%;
  font-size: 110%;
  border: none;
  outline: none;  
  background: transparent;
  color: grey;
  }
.input-box{
    margin: 31px;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
  }
.input-box i{
  color: rgb(22, 80, 87);
}
.submit{
  text-align: center;
  font-size: 150%;
  background-color:rgb(22, 187, 159);
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.button{
  text-align: center;
}
.submit:hover{
  font-size: 151%;
  background-color:rgb(15, 161, 137);
  border-radius: 5px;
}
.eye{
  background-color: transparent;
  border: none;
  font-size: 130%;
}
.forgot{
  text-align: right;
  margin-right: 5%;
  margin-bottom: 5%;
  font-size: 90%;
  
}
.create{
  text-align: center;
  padding: 10px;
  font-size: 90%;
}
a:link{
  text-decoration: none;
}
a:visited{
  color:blue;
  
}
a:hover{
  text-decoration: underline;
}
a:active{
  color:red
}
.required::placeholder{
  color:red
}